  .header {
    &-logo { // это сокращение для header-logo
      font-size: 80px;
    }

    &-nav {
      height:  70px;
      background-color: $color-header-nav;
      display: flex;
      justify-content: center;
      list-style: none;

      &-item {
        // align-items: stretch; не надо писать, это свойсто идет по умолчанию
      &-link {
        text-decoration: none;
        color: $color-white;
        font-size: 24px;
        padding: 0px 20px;
        display: inline-block;
        line-height: 70px;
        height: 70px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

        &_active {
          background-color: $color-header-nav-active;
          boarder-color: $color-header-nav-boarder;
        }
      }
      }
    }
  }